<div class="address">
    <form action="">
        <div class="input">
            <label>Adresse : </label>
            <input name="address" type="text"/>
        </div>
        <div class="input">
            <label>Type de voie : </label>
            <input name="typeaddr" type="text"/>
        </div>
        <div class="input">
            <label>N° de voie : </label>
            <input name="numaddr" type="text"/>
        </div>
        <div class="input">
            <label>Nom de la voie : </label>
            <input name="nameaddr" type="text"/>
        </div>
        <div class="input">
            <label>Code postal : </label>
            <input name="postcode" type="text" len="5"/>
        </div>
        <div class="input">
            <label>Ville : </label>
            <input name="city" type="text"/>
        </div>
        <div class="input">
            <label>Pays : </label>
            <input name="country" type="text"/>
        </div>
    </form>
</div>